section.front
    .green
    .blue
    .container
        .front__desk
            .front__desk-top
                span.front__desk-label Hi all. I am
                h1.front__desk-name VProger
                p.front__desk-subtitle > Front-end developer
                p.front__desk-subtitle > Back-end developer
            .front__desk-bottom 
                span.front__desk-decoration // complete the game to continue
                span.front__desk-decoration // you can also see it on my Github page
                p.front__desk-link.desk__link
                    span.desk__link-declaration const 
                    span.desk__link-variable githubLink 
                    span.desk__link-equally = 
                    a(href="https://github.com/VA-Freelancer").desk__link-link “https://github.com/VA-Freelancer”
        .front__project
           