footer.footer
    .footer__wrapper
        .footer__contact
            .footer__contact-desk
                |find me in:
            ul.footer__contact-list
                li
                    a(href="#")
                        img(src="@img/icons/telegram.svg", alt="telegram social")
                li
                    a(href="https://vk.com/vproger_frelancer")
                        img(src="@img/icons/vk.svg", alt="vk social")
        .footer__rep
            ul.footer__rep-list
                    li
                        a(href="https://github.com/VA-Freelancer") @VA-Freelancer
                            img(src="@img/icons/github.svg", alt="github repository")
                    li
                        a(href="https://gitee.com/VProger") @VProger
                            img(src="@img/icons/gitee.svg", alt="gitee repository")