header.header 
    .header__wrapper
        .header__logo
            a(href="/").header__logo-link vproger 
        .header__menu
            nav.header__menu-wrapper
                ul.header__menu-list
                    li 
                        a(href="/").current _hello
                    li
                        a(href="/about.html") _about-me
                    li
                        a(href="/prohect.html") _projects
                    li
                        a(href="/blog.html") _blog
        .header__contact
            .header__contact-wrapper
                a(href="/contact") _contact-me